<!doctype html>
<html lang="en" xmlns:th="http:/www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
  <title>Movimientos</title>
</head>
<body>
<main>
  <div class="px-4 py-5 my-2 text-center">
    <img src="img/logo.png" class="d-block mx-auto my-auto mb-4" height="150" alt="Spring Boot"/>
    <h1 class="display-5 fw-bold mb-4">Movimientos</h1>
    <div class="d-flex justify-content-center gap-3">

      <!-- estas son las tarjetas de los Movimientos-->

      <div th:each="movimientos:${movimientos}" class="card" style="width: 18rem;">
        <img src="img/dinero.png"  class="d-block mx-auto my-5 mb-4" alt="Movimiento" height="100">
        <div class="card-body">
          <h6 class="card-title">Consecutivo</h6>
          <h4 th:text="${movimientos.registroMovimiento}" class="card-title"></h4>
          <h6 class="card-title">Usuario</h6>
          <p th:text="${movimientos.usuarioEncargado}" class="card-text"></p>
          <h6 class="card-title">Concepto</h6>
          <p th:text="${movimientos.conceptoMovimiento}" class="card-text"></p>
          <h6 class="card-title">Monto</h6>
          <p th:text="${movimientos.montoMovimiento}" class="card-text"></p>
          <h6 class="card-title">Nit Empresa</h6>
          <p th:text="${movimientos.empresas.nitEmpresa}" class="card-text"></p>


          <div class="d-flex gap-1 justify-content-center">
            <form th:action="@{/movimientos/{id}(id=${movimientos.registroMovimiento})}" th:method="get">
              <button type="submit" class="btn btn-primary">Editar</button>
            </form>

            <form th:action="@{/movimientos/{id}(id=${movimientos.registroMovimiento})}" th:method="delete">
              <button type="submit" class="btn btn-danger">Eliminar</button>
            </form>

          </div>



        </div>
      </div>
    </div>

    <div class="px-4 py-5 my-5 text-center">
      <a href="/movimientos/nuevo" type="button" class="btn btn-primary btn-lg px-5 gap-3">Crear Movimiento</a>
    </div>

    <div class="px-4 py-5 my-5 text-center">
      <a href="/empresas" type="button" class="btn btn-outline-secondary btn-lg px-5 gap-3">Empresas</a>
      <a href="/empleados" type="button" class="btn btn-outline-secondary btn-lg px-5 gap-3">Empleados</a>
      <a href="/" type="button" class="btn btn-outline-secondary btn-lg px-5 gap-3">Inicio</a>
    </div>

  </div>
</main>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>